* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    /* --white_color:#F7E2BF; */
    --white_color: white;
    --navi_black: #222F3D;
    --dark_white: #F3F3F3;
    --soft_orange: #FEBD68;
    --footer_color: #121d2b;
    --desc_color:#d3d0d0;
}

.head p:hover {
    color: rgba(255, 255, 255, 0.705);

}

.head {
    width: 100vw;
    background-color: #0F1111;
    height: 60px;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}

.clr {
    color: var(--white_color);

}

#dilivr {
    margin-left: 20px;
    font-size: 0.75rem;
    color: #ccc;
}

.logo img {
    height: 72px;
    width: 128px;
}

.search_nav {
    display: flex;
    font-family: "Open Sans", sans-serif;
}

.search_nav .select_all {
    background: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 17px;
}

#search_in {
    height: 40px;
    width: 525px;
    font-size: large;
    border: none;
}

.s_icon {
    /* display: inline;
    height:80px ;
    width: 50px;
    /* display: flex;
    flex-direction: row; */
    /* background-color: var(--soft_orange); */
    display: inline;
    max-width: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: #febd68;
    color: #000;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* banner  */
.banner {
    width: 100vw;
    height: 44px;
    background-color: var(--navi_black);
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.banner a:hover {
    color: rgba(255, 255, 255, 0.705);

}

.menu_icon {
    margin-left: 30px;
}

.banner a {
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    color: #F3F3F3;
    font-size: 13px;
}

.left_banner {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.right_banner {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

/* Image Section */
.image {
    height: 400px;
    background-image: url(./assets/hero-img.jpg);
    background-position: center;
    background-size: cover;
}

.shop_sec {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
    padding: 50px 0;
}

.shop_imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1280px;
    width: 100%;
    overflow: hidden;
    gap: 40px;
}

.itam {
    padding: 30px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    background-color: #fff;
    transition: 1s ease-in-out;
    cursor: pointer;
}

.shop_imgs img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-bottom: 10px;

}

.itam h3 {
    padding: 5px 0;
}

.itam a {
    color: blue;
    text-decoration: none;
    transition: color 0.3s ease;

}

.itam a:hover {
    text-decoration: underline;
    color: #FEBD68;
}

.itam:hover {
    transform: scale(1.1);
    text-decoration: solid;
    /* color: #FEBD68; */
}

/* footer */
.banner1 {
    width: 100vw;
    height: 60px;
    background-color: var(--navi_black);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

._bk_totop a {
    text-decoration: none;
    color: var(--white_color);
    font-size: 10;
}

.banner1 a:hover {
    color: rgba(255, 255, 255, 0.705);
}

/* Discription */
.discription {
    display: flex;
    justify-content: space-around;
    height: 216px;
    background-color: var(--footer_color);
}

.discription ul {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    padding: 50px;
    color: var(--desc_color);
    
}
.discription ul li {
    list-style: none;
    
}
.discription ul li a{
 color: var(--desc_color);
 text-decoration: none;
 font-size: 0.875rem;
 cursor: pointer;
}
.discription ul li a:hover{
    text-decoration: underline;
}
.discription ul li h3{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin: 20px 0 10px 0;
}